.alert {
    border: 5px solid;
    padding: 10px;
    color: black;
    width: 400px;
    text-align: center;
}

.alert-success {
    border-color: rgb(37, 120, 37);
    background-color: rgb(37, 120, 37);
    color: white;
    border-radius: 5px;
    margin-top: 5px;
}

.alert-error {
    border-color: rgb(204, 44, 44);
    background-color: rgb(204, 44, 44);
    color: white;
    border-radius: 5px;
    margin-top: 5px;
}